<a href="https://colab.research.google.com/github/JUNGSUN17/pythonrepo/blob/master/_notebooks/2021_05_31_5%ED%8C%80_%EB%B0%95%EC%A0%95%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 복습, 집합, 조건문

#딕셔너리 복습 예제

**예제1: 편의점 재고 관리**

In [ ]:
#물건 이름 = prod, 개수 = num
#1단계: 엔터("")를 입력할 때까지 물건 이름과 개수를 입력받는다.
dic_li = {}
while True:
    prod = input('물건 이름:')
    if prod == '':
        break
    num = int(input('개수:'))
    dic_li[prod] = num
dic_li

물건 이름:필통
개수:15
물건 이름:사탕
개수:7
물건 이름:책
개수:18
물건 이름:

{'사탕': 7, '책': 18, '필통': 15}

#집합 (set)

* 자료들이 순서와 중복 없이 저장된 것

* 중괄호 {} 안에 요소를 쉼표로 구별하여 나열한다

Set_name = {value1, value2, ..., valueN}

In [ ]:
#중복 제거
set_wish = set(['양파링', '꽈배기', '새우깡', '수미칩','새우깡'])
set_wish

{'꽈배기', '새우깡', '수미칩', '양파링'}

##집합 생성 (2가지 방법)

* 집합명 = {요소1, 요소2, ..., 요소N}

* 집합명 = set([소1, 요소2, ..., 요소N])

In [ ]:
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
set_wish

{'꽈배기', '새우깡', '수미칩', '양파링'}

In [ ]:
set_wish = set(['양파링', '꽈배기', '새우깡', '수미칩','새우깡'])
set_wish

{'꽈배기', '새우깡', '수미칩', '양파링'}

In [ ]:
set_hello = set("Hello")
set_hello

{'H', 'e', 'l', 'o'}

##집합: 요소 추출

* 집합 자료형은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없다.

* 집합 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환하여 사용한다

In [ ]:
set_wish = set(['양파링', '꽈배기', '새우깡', '수미칩','새우깡'])
list_wish = list(set_wish)
print(list_wish)
print(list_wish[2])

['새우깡', '양파링', '수미칩', '꽈배기']
수미칩

In [ ]:
set_wish = set(['양파링', '꽈배기', '새우깡', '수미칩','새우깡'])
list_wish = tuple(set_wish)
print(list_wish)
print(list_wish[2])

('새우깡', '양파링', '수미칩', '꽈배기')
수미칩

##집합: 연산

* a와 b의 합집합: a.union(b)

* a와 b의 교집합: a.intersection(b)

* a와 b의 차집합: a.difference(b)

In [ ]:
#합집합
sweety = {'빼빼로', '가나', '허니버터'}
salty = {'양파링', '새우깡', '수미칩'}
print(sweety.union(salty))
print(sweety|salty)

{'새우깡', '양파링', '빼빼로', '허니버터', '가나', '수미칩'}
{'새우깡', '양파링', '빼빼로', '허니버터', '가나', '수미칩'}

In [ ]:
#교집합
sweety = {'빼빼로', '가나', '허니버터'}
salty = {'양파링', '새우깡', '수미칩'}
print(sweety.intersection(salty))
print(sweety&salty)

set()
set()

In [ ]:
#차집합
sweety = {'빼빼로', '가나', '허니버터'}
salty = {'양파링', '새우깡', '수미칩'}
print(sweety.difference(salty))
print(sweety-salty)
print(salty.difference(sweety))
print(salty-sweety)

{'허니버터', '가나', '빼빼로'}
{'허니버터', '가나', '빼빼로'}
{'새우깡', '양파링', '수미칩'}
{'새우깡', '양파링', '수미칩'}

##집합: 추가

* 집합명.add(요소)
* 집합명.update(리스트)

In [ ]:
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
set_wish.add('허니버터')
set_wish

{'꽈배기', '새우깡', '수미칩', '양파링', '허니버터'}

In [ ]:
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
set_wish.update(['허니버터', '칸쵸'])
set_wish

{'꽈배기', '새우깡', '수미칩', '양파링', '칸쵸', '허니버터'}

##집합: 요소 삭제

* 집합명.remove(요소)

In [ ]:
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
set_wish.remove('꽈배기')
set_wish

{'새우깡', '수미칩', '양파링'}

In [ ]:
#Error: 빼빼로 없음
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
set_wish.remove('뺴뺴로'')
set_wish

SyntaxError: ignored

In [ ]:
set_wish = {'양파링', '꽈배기', '새우깡', '수미칩','새우깡'}
if '꽈배기' in list(set_wish):
    set_wish.remove('꽈배기')
set_wish

{'새우깡', '수미칩', '양파링'}

## 테스트

In [ ]:
fruit = {'망고', '사과', '자두'}
fruit.update(['파인애플', '참외'])
fruit
fruit.remove('사과')
fruit

{'망고', '자두', '참외', '파인애플'}

# 오류 메시지 해석

* NameError: 참조변수 없음

```
# 코드로 형식 지정됨
```

In [ ]:
#변수가 정의되어 있지 않음
print(number)

NameError: ignored

* SyntaxError: 문법이 잘못되었음 (오타, 괄호 제대로 닫지 않았을 때, 콜론 잘못 사용 등)

In [ ]:
#문법이 잘못되었음
num = 1:
print(num)

SyntaxError: ignored

* TypeError: 타입이 맞지 않음

In [ ]:
a, b = "1", "1"
c = a - b
print(c)

TypeError: ignored

* ZeroDivisionError: 0으로나눌 수 없음

In [ ]:
a, b = 1, 0
c = a/b
print(c)

ZeroDivisionError: ignored

* IdentationError: 들여쓰기 오류

In [ ]:
print(1)
 print(2)

IndentationError: ignored

#조건문

* if
* if-else
* if-elif
* if-elif-else
* 중첩 if

##코드블록

* 콜론 (:) 아래쪽부터

In [ ]:
#코드블록 (들여쓰기에 집중)
a = 1
if a < 0:
    print('a는 0보다 작다.')
    print('a는 음수이다')
print('끝')

끝

In [ ]:
#코드블록
a = 1
if a < 0:
    print('a는 0보다 작다.')
print('a는 음수이다')
print('끝')

a는 음수이다
끝

##예제

**예제: 코로나 자가진단 프로그램 1단계**

체온을 입력받아 체온이 37.5도 초과이면 '등교불가'를 출력

In [ ]:
temp = float(input('체온:'))
if temp > 37.5:
    print('등교불가')

체온:35

In [ ]:
#if~else 구조
a = 5
b = 4
if a%b == 0:
    print(f'{a}는 {b}로 나누어 떨어진다')
else:
    print(f'{a}는 {b}로 나머지가 {a%b}이다')

5는 4로 나머지가 1이다

**예제: 코로나 자가진단 프로그램 3단계**

In [ ]:
temp = float(input('체온:'))
check1 = input('코로나 검사를 기다리시나요? (y/n)')
check2 = input('자가격리 중이신가요?')
if temp > 37.5:
    print('발열기준 초과: 등교불가')
elif check1 == 'y' or 'Y':
    print('검사대기 중 등교불가')
elif check2 == 'y' or 'Y':
    print('자가격리 중 등교불가')
else:
    print('등교가능')

체온:38
코로나 검사를 기다리시나요? (y/n)y
자가격리 중이신가요?y
발열기준 초과: 등교불가

**예제: 점수에 따른 등급 출력하기**

In [ ]:
score = int(input('점수:'))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f'당신의 등급은 {grade}입니다.')

점수:67
당신의 등급은 D입니다.

**예제: 금액에 따른 할인률 계산하기**

물건 구매가를 입력 받고, 금액에 따른할인률을 계산하여 구매가, 할인율, 할인금액, 지불금액을 출력하는 프로그램 작성

In [ ]:
#My version
price = int(input('물건 구매가를 입력하세요:'))
if price >=10000:
    discount = 5
elif price < 50000:
     discount = 5
elif price >= 50000:
    discount = 7.5
elif price < 100000:
    discount = 7.5
elif price >= 100000:
    discount = '10'
else:
    discount = 0
print('구매가: ', price,'원')
print('할인률: ', discount,'%')
print('할인금액: ', int(price*(discount/100)),'원')
print('지불금액: ', int(price-(price*(discount/100))),'원')

물건 구매가를 입력하세요:60000
구매가:  60000 원
할인률:  5 %
할인금액:  3000 원
지불금액:  57000 원

In [ ]:
#slack에 올라온 코드(simpler version)
price = int(input('물건 구매가를 입력하세요:'))
if price >= 100000:
    sale = 10
elif 50000 <= price < 100000:
    sale = 7.5
elif 10000 <= price < 50000:
    sale = 5
else:
    sale = 0
print('구매가: ', price,'원')
print('할인률: ', discount,'%')
print('할인금액: ', int(price*(discount/100)),'원')
print('지불금액: ', int(price-(price*(discount/100))),'원')

물건 구매가를 입력하세요:60000
구매가:  60000 원
할인률:  5 %
할인금액:  3000 원
지불금액:  57000 원

**예제: 최소값 구하기**

3개의 수를 입력받아 가장 작은 수를 출력하세요.

In [ ]:
#min함수 사용하기 (simple)
no1 = int(input('넘버 1:'))
no2 = int(input('넘버 2:'))
no3 = int(input('넘버 3:'))
min_no = min(no1,no2,no3)
print('가장 작은 수:', min_no)

넘버 1:4
넘버 2:5
넘버 3:1
가장 작은 수: 1

In [ ]:
#slack에 올라온 코드
#최솟값 구하기
num1 = int(input('숫자1: '))
num2 = int(input('숫자2: '))
num3 = int(input('숫자3: '))

if num1 < num2 and num1 < num3:
    print(f'최솟값은: {num1}')
elif  num2 < num1 and num2 < num3:
    print(f'최솟값은: {num2}')
else: 
    print(f'최솟값은: {num3}')

숫자1: 3
숫자2: 2
숫자3: 5
최솟값은: 2

##논리연산자

* 논리연산자를 사용하여 여러 개의 조건을 조합한 조건식을 만들 수 있다.

In [ ]:
# 논리 연산자(Logical operator)
# and, or, not
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print()
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print()
print(not True)
print(not False)

True
False
False
False

True
True
True
False

False
True

In [ ]:
#x in s
1 in [1,2,3]

True

In [ ]:
#x in s
'a' in ('a','b','c')

True

In [ ]:
#x not in s
'j' not in 'python'

True

**예제: 국립공원 계산기**

나이를 입력받아 국립공원 입장권을 발급하는 프로그램 작성.

* 입장료: 3000원

* 나이 65세 이상 & 7세 이하 = 무료

* 나이 8세~18세 = 청소년 요금 = 1000원

In [ ]:
#입장료 계산: if & elif만 사용 (논리 연산자 사용 X)
age = int(input('나이를 입력하세요:'))
price = 3000
if age <= 7:
    price = 0
elif age > 65:
    price = 0
elif 8 <= age <= 18:
    price = 1000
print(price, '원입니다')

나이를 입력하세요:68
0 원입니다

In [ ]:
#입장료 계산: or & and 사용
age = int(input('나이를 입력하세요:'))
price = 3000
if age <= 7 or age > 65:
    price = 0
elif age >=8  and age<= 18:
    price = 1000
print(price, '원입니다')

나이를 입력하세요:79
0 원입니다

**예제: 로그인 프로그램**

사용자로부터 아이디/패스워드 받아서 프로그램에 저장된 아이디/패스워드와 일치하는지 여부 검사하여 로그인/로그인 실패를 출력하는 프로그램 작성

In [ ]:
#My version
user_id = input('아이디:')
user_password = input('패스워드:')
if id =='ID1234' and password == 'PWD1234':
    print('로그인 성공')
else:
    print('로그인 실패')

아이디:ID1234
패스워드:PWD1234
로그인 성공

In [ ]:
#강의에서 주어진 코드
id = 'ID1234'
password = 'PWD1234'
user_id = input('아이디:')
user_password = input('패스워드:')
if id == user_id and password == user_password:
    print('로그인 성공')
else:
    print('로그인 실패')

아이디:ID1234
패스워드:PWD0000
로그인 실패

**예제: 사칙연산 프로그램**

두 수와 사칙연산 기호를 입력받아 연산 기호에 따라 연산 결과를 출력하는 프로그램 작성

In [ ]:
#My version
numb1 = int(input('숫자1:'))
numb2 = int(input('숫자2:'))
sym = input('연산기호(+,-,*,/):')
if sym == '+':
    outcome = numb1+numb2
elif sym == '-':
    outcome = numb1-numb2
elif sym == '*':
    outcome = numb1*numb2
elif sym == "/":
    outcome = numb1/numb2
print('-'*50)
print(numb1,sym,numb2,'=',outcome)

숫자1:6
숫자2:4
연산기호(+,-,*,/):+
--------------------------------------------------
6 + 4 = 10

In [ ]:
#강의에서 주어진 코드 (similar)
numb1 = int(input('숫자1:'))
numb2 = int(input('숫자2:'))
sym = input('연산기호(+,-,*,/):')
outcome = 0
if sym == '+':
    outcome = numb1+numb2
elif sym == '-':
    outcome = numb1-numb2
elif sym == '*':
    outcome = numb1*numb2
elif sym == "/":
    outcome = numb1/numb2
print('-'*50)
print(f'{numb1} {sym} {numb2} = {outcome}')

숫자1:6
숫자2:2
연산기호(+,-,*,/):/
--------------------------------------------------
6 / 2 = 3.0

**예제: 주사위 던지기 게임**

두 개의 주사위를 던져 더 큰 수가 나오는 사람이 이기는 게임

In [ ]:
#My version
dice1 = int(input('주사위1:'))
dice2 = int(input('주사위2:'))

import random
dice1 = random.randint(1,6)
dice2 = random.randint(1,6)
if dice1 > dice2:
    print('주사위1이 이겼습니다')
elif dice1 < dice2:
    print('주사위2가 이겼습니다')
else:
    print('동점입니다')

주사위1:3
주사위2:4
주사위1이 이겼습니다

In [ ]:
#slack에 올라온 예제 (출처: 신동열 님) => 참고
#10번 주사위를 던졌을때 승패 비율 까지 나올 수 있게 만들어진 코드
win_1={0]
win_2=[0]
lose_1=[0]
lose_2=[0]
import random
for i in range(10):
    no1=random.randint(1,6)
    no2=random.randint(1,6)
    if no1>no2:
        print(f'주사위1:{no1},주사위2:{no2} 주사위 1이 이겼습니다')
        win_1[0]+=1
        lose_2[0]+=1
    elif no1<no2:
        print(f'주사위1:{no1},주사위2:{no2} 주사위 2가 이겼습니다')
        win_2[0]+=1
        lose_1[0]+=1
    else :
        print(f'주사위1:{no1},주사위2:{no2} 주사위 수가 같습니다.')
print(f'''주사위1 {win_1}승{lose_1}패
주사위2 {win_2}승 {lose_2}패''')