<a href="https://colab.research.google.com/github/JUNGSUN17/pythonrepo/blob/master/_notebooks/2021_06_09_5%ED%8C%80_%EB%B0%95%EC%A0%95%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas & Matplotlib

# pandas

## 데이터 분석과 관련된 다양한 기능을 제공하는 파이썬 패키지  

* 엑셀의 기능을 제공하는 파이썬 모듈이라고 생각하면 이해가 쉽습니다.
* 표 형태의 데이터를 다루기 위한 시리즈(Series)와 데이터프레임(DataFrame) 클래스 제공  합니다.  

    * `Series` : 1차원 자료구조를 표현(벡터)  
    * `DataFrame` : 행렬의 표를 표현

In [ ]:
from google.colab import files
file_upload = files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
% cd /content/drive/MyDrive/Colab Notebooks

## 판다스 사용하기

**판다스 라이브러리를 import**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/friends1.csv')
df

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail()

In [ ]:
df.tail(2)

### 데이터 가져오기

**df[[시리즈명]]**

In [ ]:
df[['이름','나이']]

In [ ]:
df['나이'] > 25

In [ ]:
df[df['나이'] > 25]

In [ ]:
df[(df['나이'] > 20) & (df['나이'] < 30)]

In [ ]:
#True 개수
sum(df['직업'] == '백수')

In [ ]:
df['직업'] == '백수'

In [ ]:
df[(df['나이']>20) & (df['나이']<28)]

In [ ]:
df[(df['직업'] == '축구선수') & (df['나이']<20)]

### 데이터 확인하기: 요약 통계

**describe() - 컬럼별 통계량을 출력한다**

In [ ]:
df.describe()

### 데이터 정보

**info() - 행 열의 크기, 컬럼명, 컬럼 구성값의 자료형 출력**

In [ ]:
df.info

In [ ]:
df.info()

### 결측치

**isnull() - 빈값에 True를 출력한다**

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().count()

In [ ]:
df.columns = ['성명','연령','하는일']
df

In [ ]:
df.rename(columns = {'성명':'이름','연령':'나이'},inplace=True)
df

# matplotlib

matplotlib은 다양한 데이터를 많은 방법으로 도식화 할 수 있도록 하는 파이썬 라이브러리

matplotlib을 이용하면 우리가 이전에 알아본 numpy나 pandas에서 사용되는 자료구조를 쉽게 시각화 할 수 있습니다.

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

In [ ]:
# 현재 설정되어 있는 폰트 사이즈와 글꼴을 알아보자
!python --version
def current_font():
  print(f"설정 폰트 글꼴: {plt.rcParams['font.family']}, 설정 폰트 사이즈: {plt.rcParams['font.size']}")  # 파이썬 3.6 이상 사용가능하다
        
current_font()

In [ ]:
# 한글폰트 사용 in colab
%matplotlib inline  

import matplotlib as mpl 
import matplotlib.pyplot as plt 
import matplotlib.font_manager as fm  

!apt-get update -qq
!apt-get install fonts-nanum* -qq

path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf' 
font_name = fm.FontProperties(fname=path, size=10).get_name()
print(font_name)
plt.rc('font', family=font_name)

fm._rebuild()
mpl.rcParams['axes.unicode_minus'] = False

## 선그래프 그리기: plot()

기본 그래프 그리기

In [ ]:
plt.figure(figsize=(5,5))
plt.plot([0,1], [0,1], label='한글테스트용')
plt.legend()
plt.show()

In [ ]:
x= [1,2,3,4]
y= [10,20,5,40]
plt.plot(x,y)
plt.show

### 제목

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y)
plt.title('x, y 차트')
plt.show

### 그래프 추가

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y)
x1= [1,2,3,4]
y1= [5,30,20,25]
plt.plot(x1,y1)
plt.title('x,y chart')
plt.show

In [ ]:
# y 숫자 추가 (Error)
x= [1,2,3,4]
y= [10,20,30,40,10]
plt.plot(x,y)
x1= [1,2,3,4]
y1= [5,30,20,25,28]
plt.plot(x1,y1)
plt.title('x,y chart')

In [ ]:
# y 숫자 추가 (Error)
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y)
x1= [1,2,3,4,8]
y1= [5,30,20,25,28]
plt.plot(x1,y1)
plt.title('x,y chart')

### x축,y축 라벨 표시

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y)
x1= [1,2,3,4]
y1= [5,30,20,25]
plt.plot(x1,y1)
plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.show

### 범례 위치

In [ ]:
x= [1,2,3,4]        #x축
y= [10,20,30,40]    #y축

plt.plot(x,y,label='graph1')
x1= [1,2,3,4]       #x축
y1= [5,30,20,25]    #y축

plt.plot(x1,y1,label='graph2')
plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.legend(loc=2)
plt.show

### 그래프 색상 바꾸기

https://matplotlib.org/2.0.2/examples/color/named_colors.html

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y,label='graph1',color = 'darkblue')

x1= [1,2,3,4]
y1= [5,30,20,25]
plt.plot(x1,y1,label='graph2', color = 'orangered')

plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.legend(loc=4)
plt.show

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.plot(x,y,label='graph1',color = 'darkblue')

x1= [1,2,3,4]
y1= [5,30,20,25]
plt.plot(x1,y1,label='graph2', color = 'orangered')

x2 = [1,2,3,4]
x2 = [4,45,13,36]
plt.plot(x1,y1,label='graph3', color = 'greenyellow')

plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.legend(loc=4)
plt.show

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]

plt.plot(x,y,label='graph1',color = 'r',linestyle= '--')
x1= [1,2,3,4]
y1= [5,30,20,25]

plt.plot(x1,y1,label='graph2', color = 'g',linestyle= ':')
plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.legend(loc=4)
plt.show

### 마커추가

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]

plt.plot(x,y,label='graph1',color = 'r',marker= '^')
x1= [1,2,3,4]
y1= [5,30,20,25]

plt.plot(x1,y1,label='graph2', color = 'g',marker= '.')
plt.title('x,y chart')
plt.xlabel('x-axid')
plt.ylabel('y-axid')
plt.legend(loc=4)
plt.show

### 산점도 그리기: scatter()

In [ ]:
x= [1,2,3,4]
y= [10,20,30,40]
plt.scatter(x,y,label='graph1',color = 'r',marker= '8')

x1= [1,2,3,4]
y1= [5,30,20,25]
plt.scatter(x1,y1,label='graph2', color = 'g',marker= 's')

x2 = [0,3,10,34,41]
y2 = [50,30,43,5,2]
plt.scatter(x1,y1,label='graph3', color = 'b',marker= 'p')

plt.title('직선 그래프')
plt.xlabel('x축')
plt.ylabel('y축')
plt.legend(loc=4)
plt.show