<a href="https://colab.research.google.com/github/JUNGSUN17/pythonrepo/blob/master/_notebooks/2021_05_24_5%ED%8C%80_%EB%B0%95%EC%A0%95%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

In [ ]:
#에러
안녕하세요

NameError: ignored

In [ ]:
print("안녕")

안녕

In [ ]:
#객체의 자료형 확인 type()
a=5
b= 3.14
c='3.14'
d="3.14"
e = -3.14
f='abcd'+'가나다라'
g='123'*3
print(type(a),type(b),type(c),type(d),type(e),type(f),type(g))

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'float'> <class 'str'> <class 'str'>

# 파이썬 변수명 작성법

1) 첫 글자 = 영문 혹은 _ (언더바) 

2) 영문자, 숫자, _(언더바)만으로 구성

3) 대소문자를 구별해서 사용

4) 예약어는 변수명으로 사용 불가

In [ ]:
# 변수명 에러 유형 (첫 글자는 영문 혹은 _ (언더바)여야 한다)
1st = '첫번째'

SyntaxError: ignored

In [ ]:
# 변수명 에러 유형 (변수명은 영문자, 숫자, _(언더바)만으로 구성된다)
f**t = '첫번째'

SyntaxError: ignored

In [ ]:
# 변수명 에러 유형 (언더바 외에 특수문자 사용 불가)
f^st = '첫번째'

SyntaxError: ignored

In [ ]:
# 변수명 에러 유형 (대소문자 구분)
Temp = 1000
print(temp)

NameError: ignored

In [ ]:
# 변수명 에러 유형 (예약어 변수명으로 사용 금지)
print = '출력합니다'
print(print)

TypeError: ignored

# 변수 사용


*   변수는 변하는 수

*   계산 결과, 입력값, 출력값에 사용

In [ ]:
# 파이썬으로 시작 연산 & 문자열 연산도 가능
print(100+200)
print("Hello World!")
print('안녕')
'부에노스 디아스'

300
Hello World!
안녕

'부에노스 디아스'

In [ ]:
temp =100       #temp라는 변수를 만들고 temp공간에 100을 넣는다는 의미
temp            #temp값을 확인하겠다는 의미. 코랩 외의 환경에서는 print(temp)

100

In [ ]:
temp2 = 200
print(temp2)

200

In [ ]:
temp3 = temp+temp2  #temp3에 temp의 값과 temp2의 값을 더한 새로운 값
temp3

300

# 파이썬 타입 확인

type() 함수를 사용해 변수의 타입을 확인할 수 있다.

---

**Types:**
* 숫자형 (Number)
* 문자열 (String)
* 참, 거짓 (Boolean)
* 리스트 (List)
* 튜플 (Tuple)
* 딕셔너리 (Dictionary)
* 집합형 (Set)

In [ ]:
str4 = '100'
type(str4)

str

In [ ]:
type(int)

type

# 파이썬 리스트

In [ ]:
name = 'BlockDMask' 
phone = '010 xxxx xxxx' #띄어쓰기 포함해서 13; 띄어쓰기 없으면 11
address = 'korea'
print(len(name))        #len() 함수는 매개변수로 들어온 문자열의 길이를 반환한다
print(len(phone))
print(len(address))

10
13
5

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(list1) #list1 배열 원소값을 요청
#len은 문자열의 길이도 구할 수 있다

10

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[0])  #list1배열의 첫번째 원소값을 출력
print(list1[-1]) #list1배열의 마지막 원소값을 출력
#list1배열의 마지막 원소값을 문자열과 함께 출력
print('list1 배열의 마지막 원소값은' + str(list1[-1]) + '입니다')

1
10
list1 배열의 마지막 원소값은10입니다

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[0])  
print(list1[-1]) 
print('list1 배열의 마지막 원소값은',str(list1[-1]),'입니다')

1
10
list1 배열의 마지막 원소값은 10 입니다

#슬라이싱

배열 원소의 일정 부분만 가져오기

In [ ]:
print(list1[2:6])
## list1배열의 인덱스 2번부터 6번 앞까지의 데이터 출력 요청

[3, 4, 5, 6]

In [ ]:
print(list1[2:])
#list1 배열의 인덱스 2번부터 마지막까지의 데이터 출력 요청

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list1[:6])
##list1배열의 인덱스 처음부터 인덱스 6번 앞까지의 데이터 출력 요청

[1, 2, 3, 4, 5, 6]

In [ ]:
print(list1[:-1])
#list1 배열의 인덱스 처음부터 마지막 앞까지의 데이터 출력 요청

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**range 사용해서 리스트 만들기**
* 리스트 = list(range(횟수))
* 리스트 = list(range(시작,끝))
* 리스트 = list(range(시작,끝,증가폭))

In [ ]:
list_rg1 = list(range(11))
list_rg2 = list(range(5,12))
list_rg3 = list(range(-4,5,2))
list_rg4 = list(range(20,-1,-1))
list_rg5 = list('hello world')
print("list_rg1은", list_rg1)
print("list_rg2은", list_rg2)
print("list_rg3은", list_rg3)
print("list_rg4은", list_rg4)
print("list_rg5은", list_rg5)

list_rg1은 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_rg2은 [5, 6, 7, 8, 9, 10, 11]
list_rg3은 [-4, -2, 0, 2, 4]
list_rg4은 [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
list_rg5은 ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
print(list_rg1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_rg5 = list('hello world')
list_rg5[0] = 'H' ##인덱스 0 (h) 대문자로 수정
print("list_rg5은", list_rg5)

list_rg5은 ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
list_rg5 = list('hello world')
list_rg5[0] = 'H'
del list_rg5[5]
print("list_rg5의 8번째 요소 대문자로 수정", list_rg5)
print("list_rg5의 5번째 요소 삭제", list_rg5)

list_rg5의 8번째 요소 대문자로 수정 ['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
list_rg5의 5번째 요소 삭제 ['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [ ]:
del list_rg5[5]
print("list_rg5의 5번째 요소 삭제", list_rg5)

list_rg5의 5번째 요소 삭제 ['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

# 파이썬 반복문

**for문 기본 형식**

In [ ]:
for x in range(0,3,1): ##(시작값,끝값+1,증가값)
    print('안녕하세요 for문을 공부중 입니다')

안녕하세요 for문을 공부중 입니다
안녕하세요 for문을 공부중 입니다
안녕하세요 for문을 공부중 입니다

In [ ]:
for x in range(5):
    print(x) ## 실수했던 곳! tap 무조건 누르기

0
1
2
3
4

In [ ]:
for x in range(2,4):
    print(x)

2
3

In [ ]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

# 예제

**Example: 합계구하기**

변수는 3개를 사용합니다 (합계 = 0, 범위 시작값 =1, 끝값 = 11).

시작값에서 끝값-1까지 인덱스 값을 바꾸면서 반복합니다.

합계값에 인덱스 값을 더합니다.

반복이 끝나면 ‘-’ 값을 50번 출력합니다.

합계와 인덱스 값을 출력합니다.

In [ ]:
sum = 0 ## 합계
start = 1 ## 시작값
final = 11 ## 끝값
for x in range (start, final): ## 실수!!! 콜론 붙이기
    sum+=x ##합계값에 인덱스값을 더합니다 (sum = sum + x)
print ("x:",x,"sum:",sum) ## 합계와 인덱스 값을 출력합니다
print('-'*50) ## 반복이 끝나면 '-'값을 50번 출력합니다
print(start, '부터', final-1, '까지 더한 총합은', sum,'입니다') ##final-1인 이유는 '시작값에서 끝값-1까지 인덱스 값을 바꾸면서 반복합니다' 라고 명시되어 있기 떄문

x: 10 sum: 55
--------------------------------------------------
1 부터 10 까지 더한 총합은 55 입니다

In [ ]:
test_sum = 0
a = 1
b = 11
for x in range (a,b):
    test_sum += x
print ("x:",x,"sum:",test_sum)
print('-'* 50)
print(a,'부터',b-1,'까지 더한 총합은',test_sum, '입니다')

x: 10 sum: 55
--------------------------------------------------
1 부터 10 까지 더한 총합은 55 입니다

# 파이썬 조건문

**if & else**

In [ ]:
a = 200
if a < 100:
    print("100보다 작군요")
else:
    print("100보다 크군요")

100보다 크군요

**import random**

무작위 수를 발생시키는 모듈

In [ ]:
import random
for x in range(3):
    test_num1 = random.randint(1,15)
    if test_num1 > 10:
        print(test_num1 , '은 10보다 큽니다')
    else:
        print(test_num1 , '은 10보다 작거나 같습니다')

14 은 10보다 큽니다
11 은 10보다 큽니다
10 은 10보다 작거나 같습니다

In [ ]:
# 오월의 오팀: 내가 만든 버전
import random
L = ["열", "수", "이", "선", "기", "정", "희"]
x = random.randint(0,6)
print(L[x],'는/은 발표를 합니다')

희 는/은 발표를 합니다

In [ ]:
#팀원 버전 (형식 같음)
import random
list = ["선", "희", "열", "이", "수", "정", "기"]
random_num = random.randint(0,6)
print(list[random_num],"는 발표자입니다")

희 는 발표자입니다

In [ ]:
#2팀 버전 (+ 사용)
import random
list_DT = ["종엽","지순","승아","윤희","동빈","유진","찬민"]
rand_num = random.randint(0,6)
print("발표자는 "+list_DT[rand_num]+"입니다")

발표자는 종엽입니다

In [ ]:
#6팀 버전 (len 사용)
import random 
list=['강다솔', '김보연', '남지인', '유승한', '윤혜선', '이예빈']
x=random.randint(0, len(list)-1)
print(list[x])

유승한

In [ ]:
#1팀 버전 (sample 사용)
from random import sample
list_member=['Alex','Sophie','Annie','Zoey','Sunny','Paul']
print('발표자는', sample(list_member,2),'입니다')

발표자는 ['Annie', 'Alex'] 입니다