<a href="https://colab.research.google.com/github/JUNGSUN17/pythonrepo/blob/master/_notebooks/2021_05_25_5%ED%8C%80_%EB%B0%95%EC%A0%95%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#문자열과 데이터 형식

#데이터형
**단일 데이터**
* 정수형 (Integer) 
* 실수형 (Float)  
* 문자열형 (String)
* 부울형 (Boolean)

**다수의 데이터**
* 리스트 (List)
* 튜플 (Tuple)
* 딕셔너리 (Dictionary)
* 집합 (Set)

## 변수와 데이터형

* 파이썬에서는 변수의 타입을 미리 지정하지 않는다.

* 변수에 값이 할당딜 때, 할당된 값의 데이터형에 따라 변수 타입이 결정된다.

In [ ]:
n=1
print(n)
print(type(n))
print(id(n))

1
<class 'int'>
94912381245952

In [ ]:
n = "hi"
print(n)
print(type(n))
print(id(n))

hi
<class 'str'>
140719771046960

In [ ]:
n = True
print(n)
print(type(n))
print(id(n))

True
<class 'bool'>
94912380571904

In [ ]:
n = {1,2,3}
print(n)
print(type(n))
print(id(n))

{1, 2, 3}
<class 'set'>
140719209347024

In [ ]:
test1 = 1
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

1
<class 'int'>
94912381245952

In [ ]:
test1 = {'name':'jane','age':15}
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

{'name': 'jane', 'age': 15}
<class 'dict'>
140719207716736

In [ ]:
# set(집합형)는 순서를 가지지 않고 중복을 허용하지 않는다
test1 = {'apple','orange','orange', 'banana'}
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

{'banana', 'orange', 'apple'}
<class 'set'>
140719209346304

##기본자료형

**문자열형(Str)**

In [ ]:
# 따옴표 주목
a = '시간은 "금"이다'
print(a)
a = "시간은 '금'이다"
print(a)

시간은 "금"이다
시간은 '금'이다

In [ ]:
a = '''Hello, world!
안녕.
Python입니다'''
print(a)

Hello, world!
안녕.
Python입니다

In [ ]:
a = "'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다"
print(a)

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다

In [ ]:
a = '"시간은 금"이라는 말이 있다'
print(a)

"시간은 금"이라는 말이 있다

**부울형(True & False)**

In [ ]:
#부울형 (True & False)
a = 1>2 
print(a)
a = 1<2
print(a)

False
True

**숫자와 문자열**

In [ ]:
# 기본 자료형=> 숫자와 문자열
#''안의 숫자는 문자로 인식
a,b = 10,20
print(a+b)
a,b = "10", "20"
print(a+b)

30
1020

In [ ]:
# 숫자와 문자열 간에 연산할 수 없다 (오류!!)
a,b = "10",20
print(a+b)

TypeError: ignored

**정수형과 실수형**

In [ ]:
# 정수와 실수 연산
a,b = 10.0,20
print(a+b)

30.0

## 형 변환 함수

**int(), float(), str()**

In [ ]:
# 형 변환 함수
a,b = 10,"20"
print(a+int(b)) #integer: 정수형으로 변환
a,b = 10,20
print(str(a)+str(b)) #string: 숫자 & 실수를 문자열로 변환
a,b = 10,20
print(float(a)+float(b)) #float: 실수형으로 변환

30
1020
30.0

# 변수에 값 입력받기

**input()**

input()으로 입력받은 값은 문자열 타입이다.

In [ ]:
#input으로 입력받은 값은 문자열 타입이다
name = input('이름을 입력하세요: ')
print(name, '님 안녕하세요?')

이름을 입력하세요: 파이썬
파이썬 님 안녕하세요?

# 출력

**print()**

In [ ]:
#숫자, 문자 그대로 출력
print(5)
print("Hi")

5
Hi

In [ ]:
#연산 결과 출력
print(2<3)
print(2>3)
print(1+2)

True
False
3

In [ ]:
#변수값 출력
a = 1
print(a)
print(a+1)

1
2

**f스트링**

문장 사이에 변수값을 출력할 때 편리하다.

In [ ]:
#input으로 입력받은 값은 문자열 타입이다
name = input('이름을 입력하세요: ')
print(f'{name}님 안녕하세요?')

이름을 입력하세요: 파이썬
파이썬님 안녕하세요?

In [ ]:
#두 수를 입력받아 더하는 프로그램
numb1 = input('첫번째 숫자를 입력하세요 : ')
numb2 = input('두번째 숫자를 입력하세요 : ')
print(f'{numb1} + {numb2} = {int(numb1)+int(numb2)} ')

첫번째 숫자를 입력하세요 : 10
두번째 숫자를 입력하세요 : 20
10 + 20 = 30

In [ ]:
numb1 = input('첫번째 숫자를 입력하세요 : ')
numb2 = input('두번째 숫자를 입력하세요 : ')
numb1 = int(numb1)
numb2 = int(numb2)
print(f'{numb1} + {numb2} = {numb1+numb2}')

첫번째 숫자를 입력하세요 : 10
두번째 숫자를 입력하세요 : 20
10 + 20 = 30

# 산술 연산

In [ ]:
x = 100
y =3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y) # x/y의 나머지
print(-x)
print(+x)
print(x**y)

103
97
300
33.333333333333336
33
1
-100
100
1000000

In [ ]:
a,b = 3,4
print(a+b)
print (a**b)
a,b = 3,0
print(a/b) # 계산 오류!!

7
81

ZeroDivisionError: ignored

# 예제

**화씨 => 섭씨 변환기**

C = (F-32)*5/9

F = 100

In [ ]:
#화씨 => 섭씨 변환기
a = input('화씨온도:')
a = int(a)
print('섭씨온도:',(a-32)* 5/9)

화씨온도:100
섭씨온도: 37.77777777777778

In [ ]:
a = input('화씨온도:')
a = int(a) #정수
print('섭씨온도:',(a-32)* 5/9)

화씨온도:100
섭씨온도: 37.77777777777778

**삼각형의 넓이**

사용자에게 삼각형의 밑변과 높이를 입력받아 삼각형의 넓이를 출력하는 프로그램 작성

삼각형의 넓이 = (밑변 * 높이)/2

In [ ]:
x = input('밑변:')
y = input('높이:')
x = int(x)
y = int(y)
print('삼각형의 넓이:',(x*y)/2)

밑변:3
높이:4
삼각형의 넓이: 6.0

**원의 넓이 구하기**

반지름을 입력받아 원의 둘레와 넓이를 구하는 프로그램 작성

원의 둘레 = 2 * pi * r

원의 넓이 = pi * r^2

pi = 3.14

In [ ]:
#첫 번째 방식
r = float(input('원의 반지름:'))
pi = 3.14
print ('원의 둘레:', 2*pi*r, '원의 넓이:', pi*r**2) #**는 제곱

원의 반지름:3
원의 둘레: 18.84 원의 넓이: 28.26

In [ ]:
#두 번째 방식
r = input('원의 반지름:')
r = float(r) #실수형 (소수점)
pi = 3.14
print ('원의 둘레:', 2*pi*r, '원의 넓이:', pi*r**2)

원의 반지름:3
원의 둘레: 18.84 원의 넓이: 28.26

#할당연산자

In [ ]:
#하나의 변수에 하나의 값 할당
a = 1
print(a)
#여러개의 변수에 하나의 값 할당
a = b = c = 1
print(a,b,c)
#여러개의 변수에 각각 다른 값 할당
a,b,c = 1,2,3
print(a,b,c)

1
1 1 1
1 2 3

**복합할당연산자**

In [ ]:
#복합할당연산자
x = 10   
x += 20  ## x = x+20 
print(x)

30

In [ ]:
x = 3
y = 5
x *= x+y  ## x = x*(x+y)
print(x)

24

In [ ]:
#복합 할당 연산자
a = 1
a += 11
print(a)
a = a + 11
print(a)
b = 7 
a *= b + a # 아래와 동일
a = a* (b + a)
print(a)

12
23
480930

In [ ]:
s = "ha"
print(s*5)

hahahahaha

# 문자열 연결하기

In [ ]:
name = input("이름을 입력하세요:")
greet = name + "님, 안녕하세요"
print(greet)

이름을 입력하세요:정선
정선님, 안녕하세요

In [ ]:
# error 문자열 연결시 숫자 포함
english = 80
result = '영어점수:' + english + '점' # english는 숫자형 변수
print(result)

TypeError: ignored

In [ ]:
# 문자열 연결시 숫자 포함
english = 80
result = '영어점수:' + str(english) + '점' # str()함수를 사용하여 데이터를 문자열로 변환한다
print(result)

영어점수:80점

In [ ]:
#로봇기자 만들기
sta=input('경기장: ')
winner=input('이긴팀: ')
loser=input('진팀: ')
vip=input('vip: ')
score=input('스코어: ')

print(f'''오늘 {sta}에서 경기가 열렸습니다.
{winner}와(과) {loser}은(는) 치열한 공방전을 펼쳤습니다.
{vip}이(가) 맹활약을 펼쳤습니다.
결국 {winner}이(가) {loser}을(를) {score}로 이겼습니다.''')

경기장: 올림픽 경기장
이긴팀: 대한민국
진팀: 일본
vip: 손흥민
스코어: 10:0
오늘 올림픽 경기장에서 경기가 열렸습니다.
대한민국와(과) 일본은(는) 치열한 공방전을 펼쳤습니다.
손흥민이(가) 맹활약을 펼쳤습니다.
결국 대한민국이(가) 일본을(를) 10:0로 이겼습니다.

In [ ]:
#광고 만들기
region=input('지역: ')
type=input('매물종류: ')
evalu=input('평: ')
room_num=input('방개수: ')
price=input('가격: ')

print(f'''{region}에 위치한 아주 좋은 {type}이(가) 매물로 나왔습니다.
이 {type}는 {evalu}평으로 {room_num}개의 방을 가지고 있습니다.
가격은 {price}만원 입니다.''')

지역: 서울
매물종류: 아파트
평: 30
방개수: 3
가격: 5
서울에 위치한 아주 좋은 아파트이(가) 매물로 나왔습니다.
이 아파트는 30평으로 3개의 방을 가지고 있습니다.
가격은 5만원 입니다.

In [ ]:
# 내가 만들어본 예제 (비슷한 포맷)
leader = input('이끔이:')
praiser = input('칭찬이:')
timekeeper = input('지킴이:')
recorder = input('기록이:')
print(f'''오월의 오팀 이끔이는 {leader}님입니다.
칭찬이는 {praiser}이고, 지킴이는 {timekeeper}님입니다. 
마지막으로 기록이는 {recorder}님입니다.''')

이끔이:신동열
칭찬이:노현정, 박제희, 김은수
지킴이:이영이, 박정선
기록이:한슬기
오월의 오팀 이끔이는 신동열님입니다.
칭찬이는 노현정, 박제희, 김은수이고, 지킴이는 이영이, 박정선님입니다.
마지막으로 기록이는 한슬기님입니다.

In [ ]:
#성적계산 프로그램
name = input('이름을 입력하세요:')
kor = int(input('국어 성적을 입력하세요:'))
eng = int(input('영어성적을 입력하세요:'))
math = int(input('수학성적을 입력하세요:'))
print('-'*50)
print('평균성적은', (kor+eng+math)/3, '점입니다')

이름을 입력하세요:파이썬
국어 성적을 입력하세요:90
영어성적을 입력하세요:90
수학성적을 입력하세요:97
--------------------------------------------------
평균성적은 92.33333333333333 점입니다

In [ ]:
# 커피가게 매출 계산하기 (My version)
ame = int(input('아메리카노 판매 갯수:'))
latte = int(input('카페라떼 판매 갯수:'))
cappu = int(input('카푸치노 판매 갯수:'))
a = 2000
l = 3000
c= 3500
print('총 매출은', (ame*a+latte*l+cappu*c),'원입니다.')

아메리카노 판매 갯수:10
카페라떼 판매 갯수:20
카푸치노 판매 갯수:30
총 매출은 185000 원입니다.

# 문자열 특수키 & 부가적인 함수

In [ ]:
print( '셀 병합 \n \t \'shift key\'를 누른후 \n \t \t병합을 원하는 셀들을 다중선택 후 shift+M')

셀 병합
 	 'shift key'를 누른후
 	 	병합을 원하는 셀들을 다중선택 후 shift+M

In [ ]:
#join : 문자열을 원하는 글자로 더한다
#split : 문자열을 원하는 글자로 나눈다
print('-'.join('Hello World'))
print('Welcome to python'.split(' ')) #Error 이유: 쉼표 말고 마침표!!!

H-e-l-l-o- -W-o-r-l-d
['Welcome', 'to', 'python']

In [ ]:
print('-'.join('Hello World'))
print('Welcome to python'.split('o'))

H-e-l-l-o- -W-o-r-l-d
['Welc', 'me t', ' pyth', 'n']