<a href="https://colab.research.google.com/github/JUNGSUN17/pythonrepo/blob/master/_notebooks/2021_05_27_5%ED%8C%80_%EB%B0%95%EC%A0%95%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트, 튜플, 딕셔너리

#리스트

###리스트 복습

In [ ]:
#예제: 리스트의 합계 구하기
values = [56,12,33,8,3,2,98]
total = 0
for x in range(7):
    total+= values[x]
total

212

In [ ]:
#예제: 리스트의 합계 구하기
values = [56,12,33,8,3,2,98]
total = 0
for x in values:
    total+= x
total

In [ ]:
#예제: 리스트의 합계 구하기
values = [56,12,33,8,3,2,98]
total = sum(values)
total

212

### 리스트 예제 작성

In [ ]:
#예제: 주사위 빈도 계산하기
#주사위를 10000번 던져서 나오는 값들의 빈도를 계산하는 프로그램 작성. 
#즉, 1,2,3,4,5,6이 몇 번 나오는지 계산하자. 
#난수 발생 함수와 리스트를 사용한다.
import random                       #random 무작위 수를 발생시키는 모듈
dice = [0,0,0,0,0,0]                #리스트 초기화
for i in range(10000):              #10000 반복
     number = random.randint(1,6)   #1에서 6사이의 임의의 수 랜덤반복
     if number == 1:                
         dice[0]+=1
     elif number == 2:
        dice[1]+=1
     elif number == 3:              #횟수 카운트
        dice[2]+=1
     elif number == 4:
        dice[3]+=1
     elif number == 5:
        dice[4]+=1
     elif number == 6:
        dice[5]+=1
print(dice)

[1646, 1644, 1698, 1658, 1710, 1644]

In [ ]:
#slack에 올라온 다른 분 코드 (참고)
dice = list(range(1, 7))
dice_no = []
for i in range(10000) :
    dice_no.append(random.choice(dice))
for i in range(1, len(dice)+1) :
    print(f'{i}은(는) {dice_no.count(i)} 개')

1은(는) 1706 개
2은(는) 1687 개
3은(는) 1660 개
4은(는) 1654 개
5은(는) 1632 개
6은(는) 1661 개

In [ ]:
#slack에 올라온 다른 분 코드 (참고)
import random
num_1 = []
num_2 = []
num_3 = []
num_4 = []
num_5 = []
num_6 = []
for i in range(10000):
    dice = random.randrange(1,7)
    if dice == 1:
        num_1.append(dice)
    elif dice == 2:
        num_2.append(dice)
    elif dice == 3:
        num_3.append(dice)
    elif dice == 4:
        num_4.append(dice)
    elif dice == 5:
        num_5.append(dice)
    elif dice == 6:
        num_6.append(dice)
print(len(num_1), len(num_2), len(num_3), len(num_4), len(num_5), len(num_6))

1636 1671 1681 1672 1612 1728

In [ ]:
#예제 3: 과목별 점수의 평균 구하기
#[국어,수학,영어]점수가 포함된 리스트이다.
kor = []
eng = []
math = []
scores = [[96,84,80],[96,86,76],[76,95,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for x in scores:
    kor.append(x[0])
    eng.append(x[1])
    math.append(x[2])
print('국어:',kor)
print('영어:',eng)
print('수학:',math)
kor_ave = sum(kor)/len(kor)
eng_ave = sum(eng)/len(eng)
math_ave = sum(math)/len(math)
print('국어평균:',round(kor_ave,1),'영어평균:',round(eng_ave),'수학평균:',round(math_ave,1))

국어: [96, 96, 76, 90, 82, 83, 85]
영어: [84, 86, 95, 76, 66, 86, 90]
수학: [80, 76, 69, 91, 88, 79, 83]
국어평균: 86.9 영어평균: 83 수학평균: 80.9

**튜플(Tuple)**

프로그램이 실행되는 동안 값이 바뀌면 안되는 경우 사용

tuple_name = (요소1, 요소2, ..., 요소N)

# 튜플(Tuple)

프로그램이 실행되는 동안 값이 바뀌면 안되는 경우 사용

tuple_name = (요소1, 요소2, ..., 요소N)

In [ ]:
#요소가 여러개인 튜플 생성
t1 = (1,2,3)
t1

(1, 2, 3)

In [ ]:
#요소가 여러개인 튜플 생성
t1 = 1,2,3
t1

(1, 2, 3)

In [ ]:
#요소가 한 개인 튜플 생성
t1 = (1,)
t1

(1,)

In [ ]:
#요소가 한 개인 튜플 생성
t1 = 1,
t1

(1,)

In [ ]:
#요소가 한 개인 튜플 생성
t1 = (1)
t1

1

In [ ]:
#튜플 다루기
t1 = (1,5,3,4,2)
t2 = (6,7,8,9,8)
print(t1[1])            #인덱싱    
print(t1[2:4])          #슬라이싱
print(t1+t2)            #더하기
print(t1*3)             #곱하기
print(len(t1))          #길이 구하기
print(t2.index(9))        #요소 위치 찾기
print(t2.count(8))      #요소의 갯수
sort_t1 = sorted(t1)
print(sort_t1)          #리스트의 형태로 반환이 된다

5
(3, 4)
(1, 5, 3, 4, 2, 6, 7, 8, 9, 8)
(1, 5, 3, 4, 2, 1, 5, 3, 4, 2, 1, 5, 3, 4, 2)
5
3
2
[1, 2, 3, 4, 5]

# 딕셔너리 (Dictionary)

In [ ]:
dict_phone = {'홍길동':'01073940284','동구':'010734854','철수':'01073829594' }
dict_phone

{'동구': '010734854', '철수': '01073829594', '홍길동': '01073940284'}

## 딕셔너리 요소 추가/삭제

딕셔너리명[key] = value (요소 추가하기)

In [ ]:
#요소 추가
dict_scores['홍길동'] = 90
dict_scores ['동구'] = 95
dict_scores['철수'] =100
dict_scores

{'동구': 95, '철수': 100, '홍길동': 90}

del 딕셔너리명[key] (요소 삭제하기)

In [ ]:
#요소 삭제하기
dict_scores['홍길동'] = 90
dict_scores ['동구'] = 95
dict_scores['철수'] =100
del dict_scores['홍길동']
dict_scores

{'동구': 95, '철수': 100}

딕셔너리명(key)

In [ ]:
#key로 추출
dict_scores = {'홍길동':90,'동구':90,'철수':100}
dict_scores['철수']

100

In [ ]:
#존재하지 않는 key로 추출하면 Error!!!
dict_scores = {'홍길동':90,'동구':90,'철수':100}
dict_scores['송중기']

KeyError: ignored

딕셔너리명.get(key)

In [ ]:
#동구 점수 추출
dict_scores = {'홍길동':90,'동구':90,'철수':100}
dict_scores.get ('철수')

100

In [ ]:
#철수 & 송중기 점수 추출
dict_scores = {'홍길동':90,'동구':90,'철수':100}
print(dict_scores.get ('철수'))
print(dict_scores.get('송중기','없음'))

100
없음

딕셔너리명.pop(key)

In [ ]:
#요소 추출하고 삭제
dict_scores = {'홍길동':90,'동구':90,'철수':100}
score = dict_scores.pop('철수')
print(score)
print(dict_scores)

100
{'홍길동': 90, '동구': 90}

딕셔너리명.clear()

In [ ]:
#모든 요소 삭제
dict_scores['홍길동'] = 90
dict_scores ['동구'] = 90
dict_scores['철수'] =100
dict_scores.clear()
dict_scores

{}

딕셔너리명[key] = value

In [ ]:
#요소 수정
dict_scores = {'홍길동':90,'동구':95,'철수':100}
dict_scores['철수'] = 85
dict_scores

{'동구': 95, '철수': 85, '홍길동': 90}

key in 딕셔너리명

In [ ]:
#key가 존재하는지 확인
dict_scores = {'홍길동':90,'동구':90,'철수':100}
'송중기' in dict_scores

False

딕셔너리명.keys()

In [ ]:
#모든 key만 얻기
dict_scores = {'홍길동':90,'동구':90,'철수':100}
print(dict_scores.keys())
print(list(dict_scores.keys()))

dict_keys(['홍길동', '동구', '철수'])
['홍길동', '동구', '철수']

딕셔너리명.values()

In [ ]:
#모든 value만 얻기
dict_scores = {'홍길동':90,'동구':90,'철수':100}
print(dict_scores.values())
print(list(dict_scores.values()))

dict_values([90, 90, 100])
[90, 90, 100]

딕셔너리명.items()

In [ ]:
#모든 key,value만 얻기
dict_scores = {'홍길동':90,'동구':90,'철수':100}
print(dict_scores.items())
print(list(dict_scores.items()))

dict_items([('홍길동', 90), ('동구', 90), ('철수', 100)])
[('홍길동', 90), ('동구', 90), ('철수', 100)]

##데이터 모두 출력하기

In [ ]:
#데이터 모두 출력하기
dict_scores = {'홍길동':90,'동구':95,'철수':100}
for key in dict_scores.keys():
    print(key,dict_scores[key])

홍길동 90
동구 95
철수 100

In [ ]:
#데이터 모두 출력하기
dict_scores = {'홍길동':90,'동구':95,'철수':100}
for key,value in dict_scores.items():
    print(key,value)

홍길동 90
동구 95
철수 100

##데이터 정렬하여 데이터 모두 출력하기

key를 정렬하여 정렬된 key 순서대로 출력한다

In [ ]:
dict_scores = {'홍길동':90,'동구':95,'철수':100}

#딕셔너리의 key를 정렬하여 리스트로 받음
sorted_keys = sorted(dict_scores.keys())
print(sorted_keys)

#정렬된 키 리스트 순서로 반복
for key in sorted_keys:
    print(key,dict_scores[key])

['동구', '철수', '홍길동']
동구 95
철수 100
홍길동 90

In [ ]:
dict_scores = {
    '홍길동':90,
    '동구':95,
    '철수':100
    }

#딕셔너리의 key를 정렬하여 튜플(키, 값)으로 받음
sorted_items = sorted(dict_scores.items())
print(sorted_items)

#정렬된 키 리스트 순서로 반복
for key,value in sorted_items:
    print(key,value)

[('동구', 95), ('철수', 100), ('홍길동', 90)]
동구 95
철수 100
홍길동 90

len(딕셔너리명)

In [ ]:
#요소 개수 세기
dict_scores = {'홍길동':90,'동구':90,'철수':100}
len(dict_scores)

3

##예제

In [ ]:
#예제1:마일리지 관리
#표에 나타난 아이디와 마일리지 포인트를 딕셔너리에 저장 후, 출력하시오.
mile_dic = {'kim':12000, 'lee':11000, 'han':3000, 'hong':5000, 'hwang':18000}
mile_dic ['han'] = 5000
print(mile_dic)
mile_dic['jang'] = 7000
print(mile_dic)
max_val = max(mile_dic.values())
for key, value in dic.items():
    if value == max_val:
        print(key, value)

{'kim': 12000, 'lee': 11000, 'han': 5000, 'hong': 5000, 'hwang': 18000, 'jang': 7000}
hwang 18000

In [ ]:
#slack에 올라온 방식
mile={'Kim':12000,'Lee':11000,'Han':3000,'Hong':5000,'Nam':18000}
for key in mile.keys():
    print(key,mile[key])

mile['Han']=5000
mile['Jang']=7000
print(mile)

print(max(list(mile.values())))

Kim 12000
Lee 11000
Han 3000
Hong 5000
Nam 18000
{'Kim': 12000, 'Lee': 11000, 'Han': 5000, 'Hong': 5000, 'Nam': 18000, 'Jang': 7000}
18000

In [ ]:
#예제2: 단어장 만들기 
#1단계
#엔터를 입력할 때까지 영어단어-뜻을 입력받아 단어장을 만든다.
dict_voca = {}
while True:                 #while문을 사용하여 반복
    eng = input('영어:')
    if eng == '':
        break
    kor = input('한국어:')
    dict_voca[eng]=kor
print(dict_voca)

#2단계
#리스트에 입력된 순서대로 테스트를 실시하고, 맞은 개수를 계산한다.
score = 0
for english in dict_voca.keys():
    korean = input(english+':')
    if korean == dict_voca[english]:
        score+=1
print(f'맞은개수/전체단어수:{score}/{len(dict_voca)}')

영어:durian
한국어:두리안
영어:mango
한국어:망고
영어:pineapple
한국어:파인애플
영어:
{'durian': '두리안', 'mango': '망고', 'pineapple': '파인애플'}
durian:두리안
mango:몽고
pineapple:애플
맞은개수/전체단어수:1/3